@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/static/RobotoMono-Regular.ttf) format(ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border: 2px solid black;
    margin: 1rem auto;
    max-width: 600px;
    font-size: 3rem;
    text-align: center;
    border-radius: 2rem;
}

h2 {
    background-color: azure;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;

}

ul {
    list-style: none;
}

li {
    border-top: 1px solid black;
}
li a {
    padding: 2rem;
    display: block;
}

li a, li :visited {
    text-decoration: none;
    color: black;
}

li a:hover, a:focus {
    background-color: black;
    color: whitesmoke;
}
li:last-child a{
    border-radius: 0 0 2rem 2rem;
}