main div {
    width: 200px;
    height: 200px;
}

.blue {
    background-color: cornflowerblue;
}

.yellow {
    background-color: yellowgreen;
}

.purple {
    background-color: rebeccapurple;
}

main {
    height: 700px;
    background-color: tomato;
    display: flex;
    justify-content:end;
    align-items: start;
    flex-wrap: wrap;
    /* flex-direction: row-reverse wrap; */
    flex-flow: column-reverse wrap;
    
}