.main {
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 1rem;
}

/* .main2 {
    background-color: yellowgreen;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 1rem;
    position: relative;
} */

.box {
    background-color: blue;
    width: 20%;
    height: 20%;
}
/* 
.box2{
    background-color: green;
    width: 20%;
    height: 20%;
} */

body {
    height: 200vh;
}
