/* *{
    margin: 0;
    padding: 0;
} */

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

/* Margin collapse dikeyde ve elementler display block ise gerçekleşir */
.columns p{
    /* margin: 2rem; */
    margin-top: 0;
}

.columns p:nth-child(2){
    background-color: tomato;
    break-inside: avoid;
}

.columns .quote{
    column-span: all;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.name{
    white-space: nowrap;
}