.columns {
    columns: 4 200px;
    column-rule: 3px solid black;
    padding: 1rem;
}

.columns p {
    break-inside: avoid;
}
.quote {
    column-span:all;
    column-gap: 1rem;
    text-align: center;
}